$primary-color: #ccc;
$secondary-color: rgb(139, 35, 224);
$dark-color: rgb(5, 33, 70);
$light-color: rgba(236, 220, 252, 0.74);
$danger-color: rgb(105, 1, 1);
$success-color: rgb(1, 112, 60);

$insta_blue: #0095f6;
$facebook_blue: #4267B2;
$light-gray: rgb(250, 250, 250);
$border_default: 1px solid black;